/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #a8d08d, #a98b6d);
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    color: #333;
  }
  
  header {
    background-color: #a8d08d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    margin-top: 5x;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    padding: 5px;
    border-radius: 5px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #a98b6d;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;  /* Smooth transition */
  }
  
  header nav ul li a:hover {
    background-color: #a8d08d;  /* Matcha green on hover */
  }
  
  section {
    padding: 10px;
    border-radius: 5px;
    background-color: #a98b6d;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #a8d08d;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  