/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Platypi', serif;
    background: #fff;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    color: #333;
  }
  
  header {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    color: #976430;
    background-color: #a8d08d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
  }

  header h5 {
    margin: 0;
  }

  header nav {
    margin-top: 5x;
  }
  
  /* Styling for navigation buttons */
header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    padding: 10px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;  /* Default color */
    color: #333;
    transition: background-color 0.3s, color 0.3s;  /* Smooth transition for hover */
  }
  
  /* Hover effect for buttons */
  header nav ul li a:hover {
    background-color: #a8d08d;  /* Matcha green */
    color: #fff;
  }
  
  /* Active page styling */
  header nav ul li a.active {
    background-color: #a98b6d;  /* Coffee brown */
    color: #fff;
  }
  
  
  section {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .footer-links div a {
    color: #a98b6d;
    text-decoration: none;
  }
  